@{
    ViewBag.Title = "Second II None MC Official Website";
}
<div class="paragraphText">
    Second II None is a family oriented Motorcycle Club, which is a law abiding, GOD fearing organization.  We were founded in 2004 in Los Angeles, CA by a small group of African American men who saw the need to bring a positive image to their local community.  These men shared an unexplainable passion for Harley Davidson Motorcycles, the open roads, and family.  Second II None MC is comprised of male role models of Integrity moving with the principles that GOD…Family…and Brotherhood before all things.  Although we only ride Harleys we do not promote the idea of 1 Bike Brand, 1 Gender, or 1 Race is better than another, we enjoy the diversity the exist in the motorcycling community.  Our Mission is to participate in causes and activities which support Bikers, other groups, and individuals.  We are seeking to leave a lasting good impression.  The members of Second II None will not interfere with any other Motorcycle Clubs business or dealings, nor will we allow another club to involve themselves in ours.  With the utmost HONOR and RESPECT to all others.
</div>