<script language="javascript" type="text/javascript">
    function resetPassword() {
        showWaitDialog('Resetting Password...');

        clearErrors();

        if (validateResetPasswordForm()) {

            var parameters = { username: $("#txtEmailAddress").val() };

            $.ajax({
                type: "POST",
                url: '@Url.Action("ForgotPassword", "Account")',
                contentType: 'application/json; charset=utf-8;',
                data: JSON.stringify(parameters),
                dataType: 'json',
                cache: false,
                success: function (saved) {
                    if (saved) {
                        onResetPasswordComplete();
                    }
                    else {
                        addError("Unable to reset password.");
                        showErrors();
                        hideWaitDialog();
                    }
                },
                error: function (xhr, statusText, thrownError) {
                    addError("Unable to reset password.");
                    showErrors();
                    hideWaitDialog();
                }
            });
        }
    }

    function validateResetPasswordForm() {
        var valid = true;

        clearErrors();

        if ($('#txtEmailAddress').val().length <= 0) {
            addError("The Email Address field is required.");
            $("#txtEmailAddress").addClass("error");

            valid = false;
        }

        if (!isEmailValid($('#txtEmailAddress').val())) {
            addError("The email address you entered is not valid..");
            $("#txtEmailAddress").addClass("error");

            valid = false;
        }

        if (!valid) {
            showErrors();
        }

        return valid;
    }

    function onResetPasswordComplete() {
        addMessage("Your new password has been sent to you.");
        showMessages();
        hideWaitDialog();
    }

    function cancelResetPassword() {
        window.location.href = "/Home/Index";
    }

    function clearErrors() {
        $('#txtEmailAddress').removeClass("error");

        hideErrors();
        hideMessages();
    }

    function navigateToLoginPage() {
        window.location = '@Url.Action("Login")';
    }
</script>
<div class="formBox">
    <ul class="nolist formGroup">
        <li class="title">Forgot Password<a href="#" class="helpLink" onclick="JavaScript:displayHelp('forgotPassword');">(Help)</a></li>
        <li>
            <label>
                Email Address
            </label>
            <input type="text" id="txtEmailAddress" />
        </li>
    </ul>
    <ul class="nolist" style="text-align: center;">
        <li class="buttons">
            <button type="button" onclick="JavaScript:navigateToLoginPage();">
                Back to Log in
            </button>
            <button type="button" onclick="JavaScript:resetPassword();">
                Reset Password</button>
        </li>
    </ul>
</div>
